<div class="container  p-5 m-5 w-4/5 mx-auto rounded">

    <div class="cuadro p-2">

        <h1 class="text-center font-bold text-3xl  font-arial mb-5">Bienvenido a la aplicación de Interceptores - Certus</h1>

        <img class="mx-auto" src="https://www.vectorlogo.zone/logos/angular/angular-ar21.svg" width="400px" alt="">
    </div>

    <div class="tabla mt-4">

        <table class="table border border-black ">
            <thead>
              <tr class="border 3 border-black text-xl text-center bg-blue-600">
                <th class=" w-14 font-arial text-center" scope="col">Codigo</th>
                <th class=" w-1/3 font-arial  text-center" scope="col">Titulo</th>
                <th class=" font-arial  text-center" scope="col">Body</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of lista" class="border border-black font-arial bg-blue-100">
                <th class=" font-arial text-center" scope="row">{{data.id }}</th>
                <td class="text-center  font-arial">{{data.title }}</td>
                <td class="px-5">{{data.body}}</td>
              </tr>
              
            </tbody>
          </table>

    </div>


</div>